<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>DEV</key>
		<value>
			<Container>CN=Users,DC=toyota,DC=co,DC=id</Container>
			<Domain>toyota.co.id</Domain>
		</value>
		<description>Active directory information for development phase</description>
	</configuration-item>
  <configuration-item>
    <key>QA</key>
    <value>
      <Container>CN=Users,DC=toyota,DC=co,DC=id</Container>
      <Domain>toyota.co.id</Domain>
    </value>
    <description>Active directory information for qa phase</description>
  </configuration-item>
  <configuration-item>
    <key>PROD</key>
    <value>
      <Container>CN=Users,DC=toyota,DC=co,DC=id</Container>
      <Domain>toyota.co.id</Domain>
    </value>
    <description>Active directory information for production phase</description>
  </configuration-item>
</configuration>